<div class="header">
    <nav>
        <ul class="nav nav-pills pull-right">
            <li role="presentation" {%if page == "home" %}class="active" {% endif %}>
                <a href="/index.php">Home</a>
            </li>
            <li role="presentation" {%if page == "login" %}class="active" {% endif %}>
                <a href="/login.php">Login</a>
            </li>
            <li role="presentation" {%if page == "register" %}class="active" {% endif %}>
                <a href="/register.php">Cadastro</a>
            </li>
        </ul>
    </nav>
    <h3 class="text-muted">MyTest</h3>
</div>