{% extends "layouts/master.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}

    {% include "layouts/partials/header.html" with {'page' : 'home'} %}

    {% if help|length > 0 %}
        <div class="alert alert-info" role="alert">
            <h4>Parabéns!</h4>
            <ul>
                {% for message in help %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="jumbotron">
        <h1>Bem-vindo!</h1>
        <p class="lead">
            Para usar nossa aplicação é necessário registro. Caso já tenha registro, efetue login.
        </p>
        <p>
            <a class="btn btn-lg btn-success" href="/register.php" role="button">Cadastre-se</a>
        </p>
    </div>
{% endblock %}